<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://eservesu.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>eservesu.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>eservesu</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$eservesu</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:cy9fbdk04i.database.windows.net,1433;Initial Catalog=eservesu_db;User ID=DawnWang@cy9fbdk04i;Password=Xiao1969!" Name="Data Source=tcp:cy9fbdk04i.database.windows.net,1433;Initial Catalog=eservesu_db;User Id=DawnWang@cy9fbdk04i;Password=Xiao1969!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="eServeSU.ApplicationDbContext, eServeSU" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="eServeConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:cy9fbdk04i.database.windows.net,1433;Initial Catalog=eservesu_db;User ID=DawnWang@cy9fbdk04i;Password=Xiao1969!" Name="Data Source=tcp:cy9fbdk04i.database.windows.net,1433;Initial Catalog=eservesu_db;User Id=DawnWang@cy9fbdk04i;Password=Xiao1969!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=cy9fbdk04i.database.windows.net,1433;Initial Catalog=eServe;User ID=DawnWang;Password=Xiao1969!" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\eServeConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=cy9fbdk04i.database.windows.net,1433;Initial Catalog=eServe;User ID=DawnWang;Password=Xiao1969!" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="eServeConnection" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=tcp:cy9fbdk04i.database.windows.net,1433;Database=eServe;User ID=DawnWang@cy9fbdk04i;Password=Xiao1969!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\eServeConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:cy9fbdk04i.database.windows.net,1433;Database=eServe;User ID=DawnWang@cy9fbdk04i;Password=Xiao1969!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:cy9fbdk04i.database.windows.net,1433;Initial Catalog=eservesu_db;User Id=DawnWang@cy9fbdk04i;Password=Xiao1969!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)eServeConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)eServeConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:cy9fbdk04i.database.windows.net,1433;Initial Catalog=eservesu_db;User Id=DawnWang@cy9fbdk04i;Password=Xiao1969!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>